# Ignore data and results directories
efficient_ad_project/data/
efficient_ad_project/results/
datasets/

# Ignore virtual environment
venv/

# Ignore specific result folders
efficient_ad_project/results/EfficientAd/screw/
